body {
    background-color: blue;
}



#nameContainer {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: yellow;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
}